.TeamPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;


    .team-name-section {
        grid-column: span 3;
        justify-self: start;
        align-self: center;
        
    }

    .team-name {
        font-size: 4rem;
        margin-bottom: 20px;
    }

    .latest-matches {
        font-size: 2rem;
        // justify-self: end;
        align-self: center;
    }

    .win-loss-section {
        justify-self:center;
        padding: 50px;
        text-align:center;
    }

    .match-detail-section {
        grid-column: span 4;
    }

    .more-link {
        align-self: self-start;
        justify-self: center;
        font-size: 1.5rem;
        margin-top: 60px;
    }

    .back-home {
        font-size: 1rem;
        margin-top: 30px;
    }

}


